.customCursor {
  position: absolute;
  width: 65px;
  height: 65px;
  border: 1px solid #f34848;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.customCursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #f34848;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .customCursor {
    display: none;
  }
}
